.boder
{
    width: 675px;
    height: 990px;
    background-color: white;
}
.line
{
    width: 675px;
    height: 210px;
    background-color: #00688B;
}
.inf
{
    width: 285px;
    height: 700px;
    background-color: #FFFAF0;
    transform: translate( 23px,-150px);
}
.phuoc
{
    height: 215px;
    width: 215px;
    border-radius: 50%;
    background-image: url(img/phuoc2.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    transform: translate(35px,15px);
}
.td
{
    width: 308px;
    height: 30px;
    background-color: #FFDAB9;
    color: #00688B;
    transform: translate(330px,30px);
    align-content: center;
    padding-left: 10px;
}
.tt
{
    width: 308px;
    height: 30px;
    background-color: #FFDAB9;
    color: #00688B;
    transform: translate(330px,35px);
    align-content: center;
    padding-left: 10px;
}
.ht
{
    width: 308px;
    height: 30px;
    background-color: #FFDAB9;
    color: #00688B;
    transform: translate(330px,50px);
    align-content: center;
    padding-left: 10px;
}
.dc
{
    width: 308px;
    height: 30px;
    background-color: #FFDAB9;
    color: #00688B;
    transform: translate(330px,55px);
    align-content: center;
    padding-left: 10px;
}