body {
    margin: 0;
    overflow: hidden;
    background: url(back.jpg) no-repeat center center fixed;
    background-size: cover;
}
.shark
{
    height: 200px;

    left:100px; top:400px;
    position: absolute;
    animation-name: Shark;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Shark{
    0%   {left:100px; top:400px;}
    20%  {left:300px; top:400px;}
    40%  {left:500px; top:300px;}
    50%  {left:700px; top:50px;}
    60%  {left:700px; top:100px;}
    80%  {left:500px; top:200px;}
    100% {left:100px; top:400px; transform:scaleX(-1);}     
}
.turtle
{
    height: 100px;

    left:100px; top:400px;
    position: absolute;
    animation-name: turtle;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes turtle
{
    0%   {left:100px; top:400px;}
    50% {left:1220px; top:400px;} 
    100% {left:100px; top:400px; transform:scaleX(-1);}    
}